.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 40rem;
  margin-block: var(--spacing-7);
}

.description {
  margin-block-start: var(--spacing-2);
  margin-block-end: var(--spacing-6);
}

