:root {
  /* Color */
  --color-primary: #fc6c4c;
  --color-gray-100: #e5e7eb;
  --color-gray-200: #9ca3af;
  --color-gray-300: #6b7280;
  --color-gray-900: #111827;
  --color-amber-100: #f3f3e3;
  --color-white: #ffffff;
  --color-red-600: #dc2626;

  /* Font Family */
  --font-family-sans: var(--font-poppins), sans-serif;
  --font-family-serif: var(--font-merriweather), serif;

  /* Font Size */
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-black: 900;

  /* Spacing */
  --spacing-1: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 0.875rem;
  --spacing-5: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-circle: 50%;
}
