@import url("./design-tokens.css");

:root {
  --outline-color: var(--color-primary);
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-sans);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#__next,
#storybook-root {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  list-style-type: none;
  padding-inline-start: 0;
}

input {
  border-width: 1px;
  border-style: solid;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration-line: none;
}

img {
  max-width: 100%;
}

.bg-amber-100 {
  background-color: var(--color-amber-100);
}

.desktop-viewport {
  max-width: 50rem;
}
