@import url('./design-tokens.css');

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, 
body, 
#__next {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  list-style-type: none;
}

input {
  border-width: 1px;
  border-style: solid;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration-line: none;
}

img {
  max-width: 100%;
}
