.congratulationsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32.8125rem;
}

.congratulations {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 29.625rem;
}

.title {
  margin-block-start: var(--spacing-6);
}